#btnPruebas {
    position: fixed;
    bottom: 300px;
    right: 10px;
}

/* 
-------------------------- 
Portada del Juego 
-------------------------- 
*/

#portadaContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #000;
}

#portadaPrincipal,
#menuPrincipal,
#creditos {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#portadaPrincipal p {
    margin-top: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    animation: animationClick 2s linear infinite;
}

@keyframes animationClick {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

#menuPrincipal {
    background-color: #424242;
    background-image: url("/assets/images/galaxia.jpg");
}

#menuContainer {
    margin-top: 200px;
    margin-left: 50px;
}

#submenuContainer {
    /* margin-left: 30px; */
    margin-top: 250px;
}

.menuItem {
    color: #FFFFFF;
    font-size: 20px;
    width: 300px;
    border-radius: 20px;
    padding: 3px 10px 5px 10px;
    height: 41px;
}

.menuItem:hover {
    border: 1px solid #FFFFFF;
    background-color: #00B0FF;
    cursor: pointer;
}

.menuItem.active {
    border: 1px solid #FFFFFF;
    background-color: #00B0FF;
}

.creditosContainer {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    font: 300 30px/1 "Open Sans Condensed", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    animation: 60s credits linear infinite;
}

.tituloProyecto {
    margin-bottom: 50px;
    font-size: 50px;
}

.credRol {
    margin-bottom: 5px;
    font-size: 18px;
}

.credNombre {
    margin-bottom: 50px;
    font-size: 35px;
}

@keyframes credits {
    0% {
        top: 100%;
    }
    100% {
        top: -500%;
    }
}

#btnCerrarCreditos:hover {
    cursor: pointer;
}

/* 
-------------------------- 
Interfaz Principal
-------------------------- 
*/

#gameContainer {
    padding: 0px;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: none;
}

.titulo {
    color: #00B0FF;
}

#infoUbicacion {
    position: fixed;
    background-color: rgba(0, 20, 26, 0.7);
    color: #FFFFFF;
    border-radius: 20px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    top: 15px;
    left: 55px;
    border: 1px solid rgba(218, 223, 225, 0.9);
    z-index: 11;
}

#infoUbicacion.leftInfo {
    left: 10px;
}

#containerConfigAtaque {
    position: fixed;
    transition: all 0.4s;
    top: -265px;
    right: 64px;
    width: 420px;
    height: 250px;
    border-radius: 20px;
    border: 1px solid #FFF;
    background-color: #000000AA;
}

#containerConfigAtaque.active {
    top: 10px;
}

#btnAtacar {
    position: fixed;
    transition: all 0.4s;
    top: 20px;
    right: 200px;
    width: 145px;
    border: 1px solid #FFF;
    z-index: 0px;
    opacity: 0;
}

#btnAtacar.active {
    top: 250px;
}

#btnIniciar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    margin-left: -27.5px;
}

.btnICON {
    display: block;
    color: #FFF;
    cursor: pointer;
    position: relative;
    border: 3px solid white;
    box-shadow: 0 4px 6px -3px rgba(0, 0, 0, .3), inset 0 3px 4px -2px rgba(0, 0, 0, .25);
    position: relative;
    width: 55px;
    height: 55px;
    background: grey;
    background-image: linear-gradient(120deg, #00B0FF 50%, rgb(0, 115, 168) 51%);
    border-radius: 50%;
    transition: all 0.1s cubic-bezier(0.68, -0.55, 0.465, 1.55) 0.1s, border-width 0.2s cubic-bezier(0.68, -0.55, 0.465, 1.55);
}

.btnICON::before {
    display: block;
    position: absolute;
    left: 17%;
    transform: translate(-0px, 21%);
}

.btnICON:hover::before {
    animation: playJump 0.4s linear normal;
}

@keyframes playJump {
    0% {
        transform: translate(-0px, 30%) scale(1.1, 0.7);
    }
    10% {
        transform: translate(0px, 15%) scale(0.9, 1.2);
    }
    20% {
        transform: translate(0px, 7%);
    }
    40% {
        transform: translate(0px, 5%);
    }
    50% {
        transform: translate(0px, 5%);
    }
    55% {
        transform: translate(0px, 6%);
    }
    60% {
        transform: translate(0px, 10%);
    }
    65% {
        transform: translate(0px, 12%);
    }
    70% {
        transform: translate(0px, 15%);
    }
    90% {
        transform: translate(0px, 30%) scale(1.2, 0.7);
    }
    100% {
        transform: translate(0px, 25%) scale(1.4, 0.7);
    }
}

.btnGEN {
    background-color: #013243;
    color: #FFFFFF;
    border: 1px solid #FFF;
}

.btnGEN:hover {
    animation: bounce .3s 1 forwards;
}

@keyframes bounce {
    to {
        transform: scale(1.1);
    }
}

.btnMetal {
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 20px;
    padding: 7px 10px 10px 10px;
    background-color: #434343;
    background-image: linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
    border: 2px solid #212121;
    -webkit-border-radius: 360px;
    -moz-border-radius: 360px;
    border-radius: 360px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    text-decoration: none;
    color: #242424;
    background-image: -webkit-radial-gradient( 50% 0%, 8% 50%, hsla(0, 0%, 100%, .5) 0%, hsla(0, 0%, 100%, 0) 100%), -webkit-radial-gradient( 50% 100%, 12% 50%, hsla(0, 0%, 100%, .6) 0%, hsla(0, 0%, 100%, 0) 100%), -webkit-radial-gradient( 0% 50%, 50% 7%, hsla(0, 0%, 100%, .5) 0%, hsla(0, 0%, 100%, 0) 100%), -webkit-radial-gradient( 100% 50%, 50% 5%, hsla(0, 0%, 100%, .5) 0%, hsla(0, 0%, 100%, 0) 100%), -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 3%, hsla(0, 0%, 0%, .1) 3.5%), -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 6%, hsla(0, 0%, 100%, .1) 7.5%), -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 1.2%, hsla(0, 0%, 100%, .2) 2.2%), -webkit-radial-gradient( 50% 50%, 200% 50%, hsla(0, 0%, 90%, 1) 5%, hsla(0, 0%, 85%, 1) 30%, hsla(0, 0%, 60%, 1) 100%);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.btnMetal:active {
    box-shadow: inset 0px 0px 5px #00aeff, 0px 0px 50px #00aeff, 0px 0px 50px #93d9fa;
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
    transform: translateY(1px);
}

.btnMetal:hover {
    color: #00aeff;
    text-shadow: -1px -2px 1px #000;
}

/* 
-------------------------- 
Interfaz Edición 
-------------------------- 
*/

#navToolsCreate {
    position: fixed;
    top: 12px;
    right: 0px;
    z-index: 9;
}

#sideBarConfig {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 500px;
    padding: 20px;
    position: fixed;
    top: 0;
    right: -500px;
    height: 100vh;
    z-index: 11;
    transition: all 0.4s;
    overflow-y: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    background: #424242;
    color: #FFFFFF;
}

#sideBarConfig.active {
    right: 0;
}

@media only screen and (max-width: 500px) {
    #sideBarConfig {
        width: 90vw;
        right: -90vw;
    }
}

#btnCerrarSideBar {
    position: fixed;
    transition: all 0.4s;
    z-index: 12;
    top: 20px;
    right: -510px;
}

#btnCerrarSideBar.active {
    right: 510px;
}

#btnAtras {
    position: fixed;
    top: 15px;
    left: 10px;
    z-index: 9;
}

.estiloNave img {
    transform: rotate(270deg);
}

.imgEstilo {
    width: 110px;
    height: 110px;
    border: 1px solid #FFFFFF;
    margin-right: 10px;
    background-color: #000;
    background-image: url("/assets/images/space1.png");
}

.imgEstilo.activo {
    border: 3px solid #00B0FF;
}

.imgEstilo:hover:not(.activo) {
    cursor: pointer;
    border: 3px groove #FFFFFF;
    animation: bounceImg .3s 1 forwards;
}

#materialesPlaneta label {
    text-shadow: -1px 0 #212121, 0 1px #212121, 1px 0 #212121, 0 -1px #212121;
}

@keyframes bounceImg {
    to {
        transform: scale(2);
    }
}

/* 
-------------------------- 
Interfaz Simulación Nave 
-------------------------- 
*/

#btnEstado.active {
    bottom: 305px;
}

#btnEstado {
    position: fixed;
    transition: all 0.4s;
    left: 20px;
    bottom: 10px;
}

#numSondas {
    border: 1px solid #fff;
    width: 60px;
    height: 60px;
    line-height: 50px;
    text-align: center;
    background-color: #434343;
    color: #FFF;
}

#containerEstadoMateriales {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 600px;
}

#containerEstadoSondas {
    position: fixed;
    bottom: 50px;
    right: 10px;
}

#containerEstadoCombustible {
    position: fixed;
    bottom: 0px;
    left: 5px;
}

#containerEstadoVida {
    position: fixed;
    bottom: 10px;
    left: 240px;
    width: 350px;
}

#containerEstadoVidaEnemigo {
    position: fixed;
    bottom: 10px;
    top: 27px;
    left: 1180px;
    width: 170px;
    opacity: 0;
}

#vidaNaveEnemiga {
    text-shadow: 0 0 4px #000;
    background-color: #ff8400;
}

#vidaNave {
    text-shadow: 0 0 4px #000;
    background-color: #26A65B;
}

#escudoNave {
    text-shadow: 0 0 4px #000;
    background-color: #424242;
}

#cantMateriales .progress-bar {
    color: #000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

#cantIridioNave {
    background-color: #FFFF96;
}

#cantPlatinoNave {
    background-color: #DADFE1;
}

#cantPaladioNave {
    background-color: #757575;
}

#cantEZeroNave {
    background-color: #00B0FF;
}

.darkShadow {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* 
-------------------------- 
Alertify 
-------------------------- 
*/

.ajs-content p {
    margin: 0;
    font-size: 20px;
}

.ajs-content {
    margin: 0;
    max-height: 70vh;
    padding: 15px 24px 15px 24px !important;
    overflow-y: auto;
}

div.ajs-footer {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.btn-primario {
    background-color: #22A7F0;
    border: 0px;
    letter-spacing: 2px;
    color: #FFFFFF;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
}

.btn-primario:hover,
.btn-secundario:hover {
    border: 1px solid #424242;
}

.btn-secundario {
    background-color: #6C7A89;
    border: 0px;
    letter-spacing: 2px;
    color: #FFFFFF;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 5px;
}

.alertify-titulo-info {
    margin: 0;
    text-align: center;
    color: #00B0FF;
}

.texto-advertencia {
    color: #F9690E;
    white-space: pre-wrap;
    text-align: center;
}

.texto-errorSistema {
    color: #E53935;
    white-space: pre-wrap;
    text-align: center;
}

.texto-info {
    white-space: pre-wrap;
    text-align: justify;
    color: #424242;
}

.texto-exito {
    text-align: center;
    color: #26A65B;
}

.progressP .progress-bar {
    position: fixed;
    top: 60%;
    left: 0%;
    height:25px;
    animation-name: animateBar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}
@keyframes animateBar {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}